{% extends "_base.html" %}

{% block content %}

  {% url 'account:registration' as registration_url %}
  {% url 'two_factor:login' as login_url %}
  {% url 'two_factor:setup' as setup_url %}
  {% url 'account:logout' as logout_url %}
  {% url '/admin' as admin_url %}

  <h1>Добро пожаловать!</h1>
  <p>Вы находитесь в приложении "Система учета заявок".
    <li><a href="/admin">Администрирование приложения: </a>выполните вход, используя данные superuser.</li>
  </p>

  <h4>Чтобы начать пользоваться всеми функционалными возможностями, следуйте простым шагам:</h4>

  <ol>
    <li><a href="{{ registration_url }}">Зарегистрируйтесь: </a>создайте новый аккаунт, заполнив регистрационную форму.</li>
    <li><a href="{{ login_url }}">Войдите в аккаунт: </a> после регистрации войдите в систему, используя свой логин и пароль.</li>
    <li><a href="{{ setup_url }}">Включите двухфакторную аутентификацию: </a>для повышения безопасности вашего аккаунта настройте двухфакторную аутентификацию.</li>
    <li>Затем, <a href="{{ logout_url }}">выйдите </a>и снова
      <a href="{{ login_url }}">войдите</a> чтобы увидеть, как работает дополнительная защита аккаунта (опционально).</li>
  </ol>
{% endblock %}
