{% extends "main/base.html" %}

{% block content %}
<h1>{{ form.instance.id|default:"Создать новую заявку" }}</h1>
<form method="post" class="mt-5 max-w-[60%] mx-auto">
    {% csrf_token %}
    <div class="flex flex-col gap-5">
        {% for field in form %}
        <div class="flex flex-col gap-2">
            <label class="block text-sm font-medium leading-6 text-gray-900 min-w-fit">{{ field.label }}</label>
            {% if field.name == 'giving_side' %}
                <select id="id_{{ field.name }}" name="{{ field.name }}">
                    {% for option in field.field.queryset %}
                        <option value="{{ option.id }}" data-referral="{{ option.referral_percentage }}">
                            {{ option.name }}
                        </option>
                    {% endfor %}
                </select>
            {% else %}
                {{ field }}
            {% endif %}
            {% if field.help_text %}
            <p class="text-sm text-gray-500">{{ field.help_text }}</p>
            {% endif %}
            {% if field.errors %}
            <p class="text-red-500 text-sm">{{ field.errors }}</p>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit"
                class="rounded-md bg-indigo-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Сохранить
        </button>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        function updateCalculatedFields() {
            var initialSum = parseFloat($('#id_initial_sum').val()) || 0;
            var executorCommission = parseFloat($('#id_executor_commission').val()) || 0;
            var commissionWithInterest = parseFloat($('#id_commission_with_interest').val()) || 0;
            var givingSidePercentage = parseFloat($('#id_giving_side').find('option:selected').data('referral')) || 0;

            var sumWithExecutorsCommission = initialSum * (executorCommission - 100) / -100;
            var uncargoSum = initialSum * (commissionWithInterest - 100) / -100;
            var referralPercentage = initialSum * givingSidePercentage / 100;
            var cleanIncome = sumWithExecutorsCommission - uncargoSum - referralPercentage;

            $('#id_sum_with_executors_commission').val(sumWithExecutorsCommission.toFixed(2));
            $('#id_uncargo_sum').val(uncargoSum.toFixed(2));
            $('#id_referral_percentage').val(referralPercentage.toFixed(2));
            $('#id_clean_income').val(cleanIncome.toFixed(2));
        }

        $('#id_initial_sum, #id_executor_commission, #id_commission_with_interest').on('input', function() {
            updateCalculatedFields();
        });

        $('#id_giving_side').on('change', function() {
            updateCalculatedFields();
        });

        // Ensure that initial calculations are correct if form is pre-filled
        updateCalculatedFields();
    });
</script>
{% endblock %}

