{% extends "main/base.html" %}

{% block content %}
<h1 class="text-base font-semibold leading-6 text-gray-900">Создать новую заявку</h1>
<form method="post" class="mt-5 max-w-[75%]">
    {% csrf_token %}
    <div class="flex flex-col gap-5 justify-start">
        {% for field in form %}
        <div class="flex flex-col gap-2">
            <div class="flex flex-row gap-5 items-center">
                <label class="block text-sm font-medium leading-6 text-gray-900 min-w-fit">{{ field.label }}</label>
                {% if field.name == 'executor' %}
                <select id="id_executor" name="{{ field.name }}"
                        class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    <option value="">
                        -----------
                    </option>
                    {% for option in field.field.queryset %}
                    <option value="{{ option.id }}" data-referral="{{ option.referral_percentage }}">
                        {{ option.name }}
                    </option>
                    {% endfor %}
                </select>
                {% else %}
                {{ field }}
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <button type="submit"
                class="rounded-md bg-indigo-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Сохранить
        </button>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#id_executor').change(function () {
            let receiverId = $(this).val();
            if (receiverId) {
                $.ajax({
                    url: '{% url "legal_entities_data" %}',
                    success: function (data) {
                        let hasValidOptions = false;
                        $('#id_receiver').empty();  // Clear all current options

                        // Add a default empty option
                        $('#id_receiver').append('<option value="">' + "-----------" + '</option>');

                        $.each(data, function (index, legal) {
                            if (legal.partner_id.toString() === $('#id_executor').val().toString()) {
                                $('#id_receiver').append('<option value="' + legal.id + '">' + legal.name + '</option>');
                                hasValidOptions = true;
                            }
                        });

                        if (!hasValidOptions) {
                            $('#id_receiver').append('<option value="">' + "Нет юр лиц" + '</option>');
                            $('#id_receiver').prop("disabled", true);
                        } else {
                            $('#id_receiver').prop("disabled", false);
                        }

                        $('#id_receiver').change();
                    }
                });
            } else {
                $('#id_receiver').empty();
                $('#id_receiver').append('<option value="">' + "-----------" + '</option>');
                $('#id_receiver').prop("disabled", true);
                $('#id_receiver').change();
            }
        });


        $('#id_customer').change(function () {
            let customerId = $(this).val();
            if (customerId) {
                $.ajax({
                    url: '{% url "legal_entities_data" %}',
                    success: function (data) {
                        let hasValidOptions = false;
                        $('#id_sender').empty();  // Clear all current options

                        // Add a default empty option
                        $('#id_sender').append('<option value="">' + "-----------" + '</option>');

                        $.each(data, function (index, legal) {
                            if (legal.partner_id.toString() === $('#id_customer').val().toString()) {
                                $('#id_sender').append('<option value="' + legal.id + '">' + legal.name + '</option>');
                                hasValidOptions = true;
                            }
                        });

                        if (!hasValidOptions) {
                            $('#id_sender').append('<option value="">' + "Нет юр лиц" + '</option>');
                            $('#id_sender').prop("disabled", true);
                        } else {
                            $('#id_sender').prop("disabled", false);
                        }

                        $('#id_sender').change();
                    }
                });
            } else {
                $('#id_sender').empty();
                $('#id_sender').append('<option value="">' + "-----------" + '</option>');
                $('#id_sender').prop("disabled", true);
                $('#id_sender').change();
            }
        });


        function updateCalculatedFields() {
            let initialSum = parseFloat($('#id_initial_sum').val()) || 0;
            let executorCommission = parseFloat($('#id_executor_commission').val()) || 0;
            let commissionWithInterest = parseFloat($('#id_commission_with_interest').val()) || 0;
            let executorPercentage = parseFloat($('#id_executor').find('option:selected').data('referral')) || 0;
            console.log(executorPercentage, "executorPercentage");
            let sumWithExecutorsCommission = initialSum * (executorCommission - 100) / -100;
            let uncargoSum = initialSum * (commissionWithInterest - 100) / -100;

            let referralPercentage = initialSum * (executorPercentage / 100);
            let cleanIncome = sumWithExecutorsCommission - uncargoSum - referralPercentage;

            $('#id_sum_with_executors_commission').val(sumWithExecutorsCommission.toFixed(2));
            $('#id_uncargo_sum').val(uncargoSum.toFixed(2));
            $('#id_referral_percentage').val(referralPercentage.toFixed(2));
            $('#id_clean_income').val(cleanIncome.toFixed(2));
        }

        $('#id_initial_sum, #id_executor_commission, #id_commission_with_interest, #id_executor').on('input', function () {
            updateCalculatedFields();
        });

        $('#id_giving_side').on('change', function () {
            updateCalculatedFields();
        });

        updateCalculatedFields();
    });

</script>
{% endblock %}
