{% extends "main/base.html" %}

{% block content %}
<h1 class="text-base font-semibold leading-6 text-gray-900">Создать новую заявку</h1>
<form method="post" class="mt-5 max-w-[75%]">
    {% csrf_token %}
    <div class="flex flex-col gap-5 justify-start">
        {% for field in form %}
        <div class="flex flex-col gap-2">
            <div class="flex flex-row gap-5 items-center">
                <label class="block text-sm font-medium leading-6 text-gray-900 min-w-fit">{{ field.label }}</label>
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <button type="submit"
                class="rounded-md bg-indigo-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            Сохранить
        </button>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#id_executor').change(function () {
            let receiverId = $(this).val();
            if (receiverId) {
                $.ajax({
                    url: '{% url "legal_entities_data" %}',

                    success: function (data) {
                        if (!data.some(el => el.partner_id.toString() === $('#id_executor').val().toString())) {
                            $('#id_receiver').html('<option value="">' + "Нет юр лиц" + '</option>');
                            $('#id_receiver').prop("disabled", true)
                            $('#id_receiver').change();
                            return;
                        }

                        $.each(data, function (index, legal) {
                            if (legal.partner_id.toString() === $('#id_executor').val().toString()) {
                                $('#id_receiver').append('<option value="' + legal.id + '">' + legal.name + '</option>');
                            }
                        });
                        $('#id_receiver').change();
                    }
                });
            } else {
            }
        });


        $('#id_customer').change(function () {
            let customerId = $(this).val();
            if (customerId) {
                $.ajax({
                    url: '{% url "legal_entities_data" %}',

                    success: function (data) {
                        if (!data.some(el => el.partner_id.toString() === $('#id_customer').val().toString())) {
                            $('#id_sender').html('<option value="">' + "Нет юр лиц" + '</option>');
                            $('#id_sender').prop("disabled", true)
                            $('#id_sender').change();
                            return;
                        }

                        $.each(data, function (index, legal) {
                            if (legal.partner_id.toString() === $('#id_customer').val().toString()) {
                                $('#id_sender').append('<option value="' + legal.id + '">' + legal.name + '</option>');
                            }
                        });
                        $('#id_sender').change();
                    }
                });
            } else {
            }
        });

         function updateCalculatedFields() {
            var initialSum = parseFloat($('#id_initial_sum').val()) || 0;
            var executorCommission = parseFloat($('#id_executor_commission').val()) || 0;
            var commissionWithInterest = parseFloat($('#id_commission_with_interest').val()) || 0;
            var givingSidePercentage = parseFloat($('#id_giving_side').find('option:selected').data('referral')) || 0;

            var sumWithExecutorsCommission = initialSum * (executorCommission - 100) / -100;
            var uncargoSum = initialSum * (commissionWithInterest - 100) / -100;
            var referralPercentage = initialSum * givingSidePercentage / 100;
            var cleanIncome = sumWithExecutorsCommission - uncargoSum - referralPercentage;

            $('#id_sum_with_executors_commission').val(sumWithExecutorsCommission.toFixed(2));
            $('#id_uncargo_sum').val(uncargoSum.toFixed(2));
            $('#id_referral_percentage').val(referralPercentage.toFixed(2));
            $('#id_clean_income').val(cleanIncome.toFixed(2));
        }

        $('#id_initial_sum, #id_executor_commission, #id_commission_with_interest').on('input', function() {
            updateCalculatedFields();
        });

        $('#id_giving_side').on('change', function() {
            updateCalculatedFields();
        });

        // Ensure that initial calculations are correct if form is pre-filled
        updateCalculatedFields();
    });

</script>
{% endblock %}
